
body{	
	background-color: #e9baba;
	color: #faf0e9;
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	text-align: center;
}

h1{
	font-size: 40pt;
}

#background{
	position: relative;
	max-width: 680px;
    height: 680px;
    left:25%;
}

#gameOver{
	position: absolute;
	display: none;
	top: 30%;
	left: 50%;
	transform: translate(-54%, -50%);
	font-size: 40pt;
}

/*.button{
	width: 150px;
	position: absolute;
	cursor: pointer;
	border:5px solid;
	border-color: #faf0e9;
	background-color: #e9baba; 

}*/

#restart-btn{
	display: none;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*#start-btn{
	top:25%;
	left: 77%;
}*/

/*game piece found on http://dabblet.com/gist/5476973
edited the original to be my own design

Quarter Circles*/

.main{
	position:relative;
	/* ratio 1:1 keeps Simon board square with bootstrap responsive design*/
	width: 100%;
	padding-bottom: 100%;

}

.quarter {
	position:absolute;
	width:50%;
	height:50%;
/*	box-shadow:10px 10px 20px grey;*/
/*	transition:background-color 0.2s ease-in-out;*/
}

/*Red Quarter*/
.red {
	top:0;
	left:0;
	background-color:#b51c17;
/*creates the curve for the edges of the piece*/
	border-radius:100% 0 0 0;
}
.red:hover {
	background-color:#f46b6b;
}

/*Purple Quarter*/
.purple {
	top:0;
	right:0;
	background-color:#58294d;
	border-radius:0 100% 0 0 ;
}
.purple:hover {
	background-color:#ae6ba2;
}

/*Blue Quarter*/
.blue {
	bottom:0;
	left:0;
	background-color:#615a28;
	border-radius:0 0 0 100%;
}
.blue:hover {
	background-color:#a99f6b;
}

/*Green Quarter*/
.green {
	bottom:0;
	right:0;
	background-color:#254873;
	border-radius:0 0 100% 0 ;
}
.green:hover {
	background-color:#6b93b6;
}
/*.cutout {
	width:50%;
	height:50%;
	background-color:white;
	position:absolute;
	top:25%;
	left:25%;
	border-radius:50%;
	pointer-events:none;
	}*/


/*Scoreboard*/
/*#scoreboard{
	position: absolute;
	border:5px solid;
	border-color: #faf0e9;
	top:35%;
	width: 150px;
	left: 77%;
	line-height: 1em;
}


#score{
	border-top: 5px solid #faf0e9;
	line-height: 2em;
}*/