
body{	
	background-color: #e9baba;
	color: #faf0e9;
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	text-align: center;
}

h1{
	font-size: 40pt;
}

.button{
	cursor: pointer;
	border:5px solid #faf0e9;
	background-color: #e9baba; 
}

.button:hover{
	background-color: #c59e9e;
}

/*game piece found on http://dabblet.com/gist/5476973
edited the original to be my own design*/

/*Game Board*/
.main{
	position:relative;
	/* ratio 1:1 keeps Simon board square with bootstrap responsive design*/
	/*http://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css*/
	width: 100%;
	padding-bottom: 100%;
}

.quarter {
	position:absolute;
	width:50%;
	height:50%;
/*	box-shadow:10px 10px 20px grey;*/
/*	transition:background-color 0.2s ease-in-out;*/
}

/*Red Quarter*/
.red {
	top:0;
	left:0;
	background-color:#b51c17;
/*creates the curve for the edges of the piece*/
	border-radius:100% 0 0 0;
}
.red:hover {
	opacity: 0.5;	
/*	background-color:#f46b6b;*/
}

/*Purple Quarter*/
.purple {
	top:0;
	right:0;
	background-color:#58294d;
	border-radius:0 100% 0 0 ;
}
.purple:hover {
	opacity: 0.5;	
/*	background-color:#ae6ba2;*/
}

/*Blue Quarter*/
.blue {
	bottom:0;
	left:0;
	background-color:#615a28;
	border-radius:0 0 0 100%;
}
.blue:hover {
	opacity: 0.5;	
/*	background-color:#a99f6b;*/
}

/*Green Quarter*/
.green {
	bottom:0;
	right:0;
	background-color:#254873;
	border-radius:0 0 100% 0 ;
}
.green:hover {
	opacity: 0.5;
/*	background-color:#6b93b6;*/
}

/*Scoreboard*/
#scoreboard{
	border: 5px solid #faf0e9;
	border-top: 0;
}

/*Modal*/
.modal-content{
	background-color: #e9baba;
	color: #faf0e9;
	border-radius: 0;
	border:5px solid #faf0e9;
	font-size: 40pt;	
}

#restart-btn{
	border:5px solid #faf0e9;
	background-color: #e9baba;
	font-size: 20pt;
	width: 130px;
	padding: 3px;
	text-align: center;
	float: right;	
}

#restart-btn:hover{
	background-color: #c59e9e;
}
